.grid_block {
    display: grid;
    grid-template-columns: 5vw 100vw;
}

.extended_columns {
    grid-template-columns: 5vw 10vw 90vw;
}

.working_block_grid {
    display: grid;
    grid-template-rows: 74vh 20vh;
}

.working_block__items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
