.header_hist {
    display: flex;
    align-items: baseline;
}

.header_button {
    background: none;
    width: 25px;
    height: 25px;
    border: 0;
    padding: 5px 5px;
    margin: 0 6px;
    display: flex;
    align-items: baseline;
}

.header_button:focus {
    background-color: azure;
    opacity: 0.5;
    outline: none;
}

.button_img {
    width: 15px;
    height: 15px;
}