.header_block_button {
    margin: 0 10% 0 10%;
    display: flex;
    align-items: flex-end;
    margin-right: 10%;
}

.header_button {
    background: none;
    width: 25px;
    height: 25px;
    border: 0;
    padding: 5px 5px;
    margin: 0 6px;
    display: flex;
    align-items: baseline;
}

.header_button:focus {
    background-color: azure;
    opacity: 0.5;
    outline: none;
}

.button_img {
    width: 15px;
    height: 15px;
}

.header_input_number {
    width: 40px;
    height: 20px;
    background: none;
    border-radius: 0.125rem;
    align-items: center;
    appearance: textfield;
    background-color: transparent;
    border-width: 0 0 1px 0;
    border-color: rgb(177, 158, 151);
    outline: none;
}