.header {
    background-color: rgb(58 109 173 / .5);
    width: 100vw;
    min-height: 60px;
    display: flex;
    align-items: center;
    box-shadow: 0px 5px 5px -5px rgba(0, 0, 0, 0.76);
    
    
  }