.menu_block {
    height: 100vh;
    background-color: rgba(53, 55, 59, 0.815);
}

.menu_block__list {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100%;
}

.menu_item {
    cursor: pointer;
}

.menu_item:not(:first-child) {
    margin-top: 60px;
}

.menu_block__img {
    width: 40px;
    height: 40px;
}

.input_display {
    display: none;
}

.figure {
    position:absolute;
    display: none;
    width: auto;
    height: auto;
    border-radius: 25px;
    margin: -94px 0px 0px 100px;
    border: 1px solid darkorange;
}

.figure.active {
    display: block;
}

.figure_button {
    background:url("../../resources/img/figures.png")
}

.figure__menu {
    display:flex;
    justify-content: space-between;
    flex-direction: column;
}

.figure__item {
    font-size: small;
    font-weight: 100;
}