.working_block {
    width: 100%;
    /* height: 80vh; */
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    background: grey;
}


.working_block__wrapper {
    width: 1000px;
    height: 500px;
    background-image: url(../../resources/img/background.png);
    /* background-repeat: repeat; */
    background-size: 1000px;
}

.working_block__slide {
    width: inherit;
    height: inherit;
    border-radius: 0;
}