.slide {
    position: relative;
}

.slide_block_slide {
    width: 1000px;
    height: 420px;
    border-radius: 10px;
    margin: 35px 0 0 20px;
    overflow: hidden;
    transform: scale(0.3);
    transform-origin: 0 0;
}

.working_block__slide {
    width: 800px;
    height: 400px;
    border-radius: 0;
}
