.figure {
    position:relative;
    display: block;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    /* background: rgba(53, 55, 59, 0.84); */
}

.figure_button {
    background:url("../../resources/img/figures.png")
}

.figure__menu {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.figure__item {
    font-size: small;
    font-weight: 100;
}