.figure {
    position:relative;
    display: block;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    background: #302a50d6;
}

.figure_button {
    background:url("../../resources/img/figures.png")
}

.figure__menu {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.figure__item {
    font-size: small;
    font-weight: 100;
}

.figure_image { 
    height: 100px; 
    width: 100px; 
} 
.figure__button { 
    background-color: transparent; 
}